
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    width: calc(100% - 22.46%);
    height: calc(100% - 33.39%);
    display: flex;
    background-color: #C4BBBB;
    border-radius: 8px;;
}

.page-content__heading, .page-content__nav-links {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.page-content__heading {
    background-image: url(../images/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    border-radius: 8px 0px 0px 8px;;
    box-shadow: rgba(0, 0, 0, 0.35) 6px 0px 4px;
}

.page-content__title {
    margin-top: 4.25%;
    font-size: 40px;
}

.page-content__links {
    width: 84.79%;
    list-style: none;
    padding: 46px;
    margin-top: 15%;
    margin-left: 7.60%;
    font-weight: bold;
}

.page-content__link:not(:last-child) {
    margin-bottom: 15%;
}

.page-content__link a {
    text-decoration: none;
    color: #924114;
    font-size: 22px;
}



